# Lab09 - Frequent Patterns

Name: Dylan Zucker 

Class: CSCI 349 - Intro to Data Mining

Semester: 2019SP

Instructor: Brian King

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1: Add the import statements:

`from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules`

In [2]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

### 2. These first exercises are going to allow you to leverage the actual documentation from the mlxtend user guide online. Go to the page: http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/ . Enter the dataset, and copy the example code that transforms the list of transactions to a numpy encoded array, then to a pandas DataFrame with the correct column names. Output your data frame. It should look identical to:

In [3]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

### 3. Show the result of describe() and info() on your dataframe.

In [4]:
df.describe()

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
count,5,5,5,5,5,5,5,5,5,5,5
unique,2,2,2,2,2,1,2,2,2,2,2
top,False,False,False,True,False,True,True,False,True,False,True
freq,4,3,4,4,4,5,3,3,3,4,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
Apple           5 non-null bool
Corn            5 non-null bool
Dill            5 non-null bool
Eggs            5 non-null bool
Ice cream       5 non-null bool
Kidney Beans    5 non-null bool
Milk            5 non-null bool
Nutmeg          5 non-null bool
Onion           5 non-null bool
Unicorn         5 non-null bool
Yogurt          5 non-null bool
dtypes: bool(11)
memory usage: 135.0 bytes

### 4. Following along the mlxtend user guide, use the apriori algoritihm to output all frequent itemsets with a min_support of 0.6. Show the resulting dataframe, and store the result, since you'll have many selection exercises next. All selection exercises must be done from this resulting frame. Set use_colnames=True. It'll be much easier to interpret your patterns.

In [6]:
df_frequent = apriori(df, min_support=0.6, use_colnames=True)
df_frequent

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

### 5. Select all frequent itemsets that have support => 0.8

In [7]:
df_frequent[df_frequent["support"] >= 0.8]

   support              itemsets
0      0.8                (Eggs)
1      1.0        (Kidney Beans)
5      0.8  (Eggs, Kidney Beans)

### 6.  Select all frequent itemsets with at least 2 items. In their exercises, they often create additional helper variables to make it easier to select your data. That's entirely up to you. (I tend to be a purist, and reserve additional variables for only very complex selection criteria. Computing the length of an itemset is not one of them!)

In [8]:
df_frequent[df_frequent["itemsets"].str.len() >= 2]

    support                     itemsets
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

### 7. Select the frequent itemsets that contain an 'Onion' in the itemset.

In [9]:
df_frequent[df_frequent["itemsets"].str.contains("Onion", regex=False)]

    support                     itemsets
3       0.6                      (Onion)
6       0.6                (Eggs, Onion)
8       0.6        (Onion, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

### 8. Select the frequent itemsets that contain both 'Onion' and 'Eggs' in the itemset. (HINT: You should have 2 frequent itemsets selected.)

In [10]:
df_frequent[df_frequent["itemsets"].str.contains("Onion", regex=False) & df_frequent["itemsets"].str.contains("Eggs", regex=False)]

    support                     itemsets
6       0.6                (Eggs, Onion)
10      0.6  (Eggs, Onion, Kidney Beans)

### 9. Select the frequent itemsets that contain either an 'Onion' or 'Kidney Beans' (or both) in the itemset. (HINT: You should have 8 frequent itemsets output.)

In [11]:
df_frequent[df_frequent["itemsets"].str.contains("Onion", regex=False) | df_frequent["itemsets"].str.contains("Kidney Beans", regex=False)]

    support                     itemsets
1       1.0               (Kidney Beans)
3       0.6                      (Onion)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

### 10. http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/ contains the all the information about the association rule interestingness metrics, as well as giving you the code to generate the association rules. (NOTE – they mention a function called generate_rules(). The function is association_rules().) Generate rules with a minimum confidence of 0.7. Store your resulting data frame called rules. Show the entire data frame. (You should have 11 rules).

In [12]:
assoc_rules = association_rules(df_frequent, metric="confidence", min_threshold=.7)
assoc_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.000000
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.600000
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf

### 11. Output the top 5 rules in descending order by "lift", with the secondary sort key by "confidence".

In [13]:
assoc_rules.sort_values(by = ["lift", "confidence"], ascending=False).head(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
8,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.600000

### 12. Select all rules that have a 1.0 support for the antecedent.

In [14]:
a = assoc_rules[assoc_rules["antecedents"].str.len() > 1]
c = assoc_rules[assoc_rules["consequents"].str.len() > 1]
pd.concat([a,c])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.600000
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf

### 13. Select all rules that have at least 3 or more items represented in the rule (i.e. the union of the antecedent and consequent >= 3.)

In [15]:
assoc_rules[assoc_rules["antecedent support"] == 1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.0,0.0,1.0

### 14. Select the rules that have confidence >= 0.75 and a lift > 1

In [16]:
c = assoc_rules[assoc_rules["confidence"] >= .75]
c[c["lift"] >= 1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.000000
3,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf

### 15. Read in the Chipotle dataset:

In [17]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chip_df = pd.read_csv(url, sep = '\t')

### 16. Recall that this dataset is a set of transactions, where each observation represents one item purchased as part of an order_id. However, the data are not read in this way. You need to transform this dataset to a collection of binary encoded transactions, where each row represents ONE transaction, and the columns are binary encoded variables, with each variable representing ONE item available for purchase at Chipotle. Convert your data. Your resulting data frame should have an index representing the order_id, and columns representing each possible item from the item_name variable. For now, a transaction will ignore the quantity of item purchased.

In [34]:
bin_chip_df = pd.get_dummies(chip_df, columns=["item_name"]).groupby("order_id").sum().apply(lambda y: y.apply(lambda x : x if x == 0 else 1), axis = 1)
bin_chip_df.drop("quantity", axis=1, inplace=True)
bin_chip_df.head()

,item_name_6 Pack Soft Drink,item_name_Barbacoa Bowl,item_name_Barbacoa Burrito,item_name_Barbacoa Crispy Tacos,item_name_Barbacoa Salad Bowl,item_name_Barbacoa Soft Tacos,item_name_Bottled Water,item_name_Bowl,item_name_Burrito,item_name_Canned Soda,...,item_name_Steak Crispy Tacos,item_name_Steak Salad,item_name_Steak Salad Bowl,item_name_Steak Soft Tacos,item_name_Veggie Bowl,item_name_Veggie Burrito,item_name_Veggie Crispy Tacos,item_name_Veggie Salad,item_name_Veggie Salad Bowl,item_name_Veggie Soft Tacos
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 17. Too often, many start by considering a minimum support that is arbitrarily large. Go ahead and use the apriori method to generate frequent itemsets with a minsup value of 0.5. What happened?

There were none with a minsup of 0.5

In [35]:
ap_chip = apriori(bin_chip_df, min_support=0.5, use_colnames=True)
ap_chip.head()

Empty DataFrame
Columns: [support, itemsets]
Index: []

### 18. Take a step back. Your previous outcome is why you ALWAYS perform essential EDA tasks before you dive into mining a dataset! Report a table that shows the number of transactions each item occurred in, sorted in order of most frequent to least. NOTE: That number essentially represents the absolute support for 1- itemsets! So, include a column that shows the relative support (i.e. the fraction of total transactions.)

In [36]:
x = bin_chip_df.apply(lambda x: x.sum()) 
table = pd.concat([x, x/bin_chip_df.shape[0]], axis = 1).sort_values(by=[0], ascending = False)
table.columns = ["support", "abs support"]
table.head()

                               support  abs support
item_name_Chicken Bowl             615     0.335333
item_name_Chicken Burrito          489     0.266630
item_name_Chips and Guacamole      474     0.258451
item_name_Steak Burrito            342     0.186478
item_name_Canned Soft Drink        276     0.150491

### 19. Now, make a smarter decision. Like many large, real-world transaction datasets, data is sparse! You have many variables, and most observations use only a handful of them. This is the definition of a sparse dataset. You need a better minsup value. Regenerate frequent itemsets, but now use a minsup of 0.005. How many frequent itemsets were reported? Report your frequent items sorted by decreasing support order.

In [44]:
ap_chip = apriori(bin_chip_df, min_support=0.005, use_colnames=True)
ap_chip.head()

    support                           itemsets
0  0.029444      (item_name_6 Pack Soft Drink)
1  0.033261          (item_name_Barbacoa Bowl)
2  0.047983       (item_name_Barbacoa Burrito)
3  0.005998  (item_name_Barbacoa Crispy Tacos)
4  0.013631    (item_name_Barbacoa Soft Tacos)

### 20. In the context of association rules, explain the difference between support, confidence, lift, leverage and conviction.

The support is a measure of frequencey for an item set. Confidence is the degree of cettainty of that an item set will appear. The lift compares the actual confidence to the expected confidence. So lift is how much better the rule is at predicting than just guessing based on the expected value. The conviction is the frequencey that a rule will make the wrong prediction. The leverage is the difference of the observed frequency of two items appearing in the same set and the expected frequencey if they were indepedent.

### 21. Generate all association rules that meet a minimum support of 0.01. How many rules were output in total?

In [48]:
chip_assoc_rules = association_rules(ap_chip, metric="support", min_threshold=.01)
chip_assoc_rules.shape[0]

108

### 22. Show only the rules that have a lift > 2, but sorted in order of decreasing confidence. What is your strongest rule?

In [49]:
chip_assoc_rules[chip_assoc_rules["lift"] > 2].sort_values(by=["confidence"], ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
90,"(item_name_Chips, item_name_Bottled Water)",(item_name_Chicken Bowl),0.019084,0.335333,0.015267,0.800000,2.385691,0.008868,3.323337
92,"(item_name_Bottled Water, item_name_Chicken Bowl)",(item_name_Chips),0.037623,0.113413,0.015267,0.405797,3.578038,0.011000,1.492061
22,(item_name_Canned Soda),(item_name_Steak Burrito),0.051254,0.186478,0.019629,0.382979,2.053751,0.010071,1.318467
98,"(item_name_Chicken Bowl, item_name_Canned Soft...",(item_name_Chips),0.060523,0.113413,0.019084,0.315315,2.780232,0.012220,1.294883
91,"(item_name_Chips, item_name_Chicken Bowl)",(item_name_Bottled Water),0.066521,0.083969,0.015267,0.229508,2.733234,0.009681,1.188891
15,(item_name_Bottled Water),(item_name_Chips),0.083969,0.113413,0.019084,0.227273,2.003934,0.009561,1.147347
94,(item_name_Bottled Water),"(item_name_Chips, item_name_Chicken Bowl)",0.083969,0.066521,0.015267,0.181818,2.733234,0.009681,1.140918
14,(item_name_Chips),(item_name_Bottled Water),0.113413,0.083969,0.019084,0.168269,2.003934,0.009561,1.101355
99,(item_name_Chips),"(item_name_Chicken Bowl, item_name_Canned Soft...",0.113413,0.060523,0.019084,0.168269,2.780232,0.012220,1.129544
93,(item_name_Chips),"(item_name_Bottled Water, item_name_Chicken Bowl)",0.113413,0.037623,0.015267,0.134615,3.578038,0.011000,1.112080
23,(item_name_Steak Burrito),(item_name_Canned Soda),0.186478,0.051254,0.019629,0.105263,2.053751,0.010071,1.060363
95,(item_name_Chicken Bowl),"(item_name_Chips, item_name_Bottled Water)",0.335333,0.019084,0.015267,0.045528,2.385691,0.008868,1.027706

### 23. Consider yourself the data scientist hired to help Chipotle understand item purchasing patterns. Interpret the following rule for the non data scientist. Be careful not to say, "if your customers purchase canned soft drinks AND chips, they are also going to buy chicken bowls." Think! What do strong association rules convey?

Strong association rules explain the probability of two events occuring at together. When someone gets a canned soft drink and chips then someone is likely to buy a chicken bowl, with 60.3% confidence.

### 24. Suppose your boss is interested in what items are most likely related to a purchase of "Chips and Guacamole". Using your rule set generated, first select the rules that have "Chips and Guacamole" listed in the consequent itemset. Sort the rules by confidence, then by lift. And interpret your findings. Identify the item(s) that are the most suggestive of including "Chips and Guacamole" when purchased, and state why.

The number one antecedent is bottled water and chicken bowl, so these items are the most suggestive of including chips and guacamole. Chicken bowl and water are also in 2 out of the top 5 antecedents.

In [63]:
t = chip_assoc_rules[chip_assoc_rules["consequents"].str.contains("item_name_Chips", regex = False)]
t.sort_values(by=["confidence","lift"], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
92,"(item_name_Bottled Water, item_name_Chicken Bowl)",(item_name_Chips),0.037623,0.113413,0.015267,0.405797,3.578038,0.011000,1.492061
98,"(item_name_Chicken Bowl, item_name_Canned Soft...",(item_name_Chips),0.060523,0.113413,0.019084,0.315315,2.780232,0.012220,1.294883
15,(item_name_Bottled Water),(item_name_Chips),0.083969,0.113413,0.019084,0.227273,2.003934,0.009561,1.147347
31,(item_name_Canned Soft Drink),(item_name_Chips),0.150491,0.113413,0.031625,0.210145,1.852912,0.014557,1.122468
43,(item_name_Chicken Bowl),(item_name_Chips),0.335333,0.113413,0.066521,0.198374,1.749124,0.028490,1.105985
94,(item_name_Bottled Water),"(item_name_Chips, item_name_Chicken Bowl)",0.083969,0.066521,0.015267,0.181818,2.733234,0.009681,1.140918
78,(item_name_Steak Bowl),(item_name_Chips),0.102508,0.113413,0.015267,0.148936,1.313216,0.003641,1.041739
101,(item_name_Canned Soft Drink),"(item_name_Chips, item_name_Chicken Bowl)",0.150491,0.066521,0.019084,0.126812,1.906332,0.009073,1.069046
61,(item_name_Chicken Burrito),(item_name_Chips),0.266630,0.113413,0.025082,0.094070,0.829440,-0.005158,0.978648
100,(item_name_Chicken Bowl),"(item_name_Chips, item_name_Canned Soft Drink)",0.335333,0.031625,0.019084,0.056911,1.799551,0.008479,1.026812
95,(item_name_Chicken Bowl),"(item_name_Chips, item_name_Bottled Water)",0.335333,0.019084,0.015267,0.045528,2.385691,0.008868,1.027706

### 25. These data suggest that the "Chicken Bowl" is the single most frequent item purchased for this particular location. Great. Let's dive into those chicken bowls more. As you know, Chipotle lets you customize your items. That's what the choice_description field is for.

### Process all of the items listed in the "choice_description" field by creating a new transaction dataset representing binary encoded transaction data for only Chicken Bowl. Note – this is tricky because the choice_description variable is read in as a long string. The string itself represents a list, and quite often, it's a list of lists. You need to process this to be an actual flattened list of items. Then, you can easily convert these to transactions.

In [102]:
chick_df = chip_df[chip_df["item_name"].str.contains("Chicken Bowl", regex=False)]
chick_df["choice_description"] = chick_df["choice_description"].str.split(",", expand = True)
chick_df.dropna(axis=0, how = "any", inplace = True)

bin_chick_df = pd.get_dummies(chick_df, columns= ["choice_description"]).groupby("order_id").sum().apply(lambda y: y.apply(lambda x : x if x == 0 else 1), axis = 1)
bin_chick_df = bin_chick_df.drop("quantity", axis = 1)
bin_chick_df.head()

/Users/Dylan/anaconda3/envs/csci349_2019sp/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Dylan/anaconda3/envs/csci349_2019sp/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,choice_description_[Fresh Tomato (Mild),choice_description_[Fresh Tomato Salsa,choice_description_[Fresh Tomato Salsa (Mild),choice_description_[Fresh Tomato Salsa],choice_description_[Roasted Chili Corn Salsa,choice_description_[Roasted Chili Corn Salsa (Medium),choice_description_[Tomatillo Green Chili Salsa,choice_description_[Tomatillo Red Chili Salsa,choice_description_[Tomatillo Red Chili Salsa],choice_description_[Tomatillo-Green Chili Salsa (Medium),choice_description_[Tomatillo-Red Chili Salsa (Hot),choice_description_[White Rice],choice_description_[[Fresh Tomato Salsa (Mild),choice_description_[[Roasted Chili Corn Salsa (Medium),choice_description_[[Tomatillo-Green Chili Salsa (Medium),choice_description_[[Tomatillo-Red Chili Salsa (Hot)
order_id,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

### 26. Use your own knowledge to generate strong frequent patterns and association rules for the choice_description items used with Chicken Bowls. Explain your findings.

In a chicken bowl, I can be 15% confidnent that someone will get fresh tomato salsa if they get roasted chili corn salsa.

In [108]:
x = bin_chick_df.apply(lambda x: x.sum()) 
table = pd.concat([x, x/bin_chick_df.shape[0]], axis = 1).sort_values(by=[0], ascending = False)
table.columns = ["support", "abs support"]
table.head() # More bellow table

                                                    support  abs support
choice_description_[Fresh Tomato Salsa                  283     0.460163
choice_description_[Roasted Chili Corn Salsa             95     0.154472
choice_description_[Tomatillo Green Chili Salsa          62     0.100813
choice_description_[Tomatillo Red Chili Salsa            59     0.095935
choice_description_[Tomatillo-Red Chili Salsa (...       36     0.058537

In [111]:
ap_chick = apriori(bin_chick_df, min_support=0.005, use_colnames=True)
chick_assoc_rules = association_rules(ap_chick, metric="support", min_threshold=.01)
chick_assoc_rules.sort_values(by = ["confidence"], ascending = False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(choice_description_[Roasted Chili Corn Salsa),(choice_description_[Fresh Tomato Salsa),0.154472,0.460163,0.024390,0.157895,0.343128,-0.046692,0.641057
2,(choice_description_[Tomatillo Green Chili Salsa),(choice_description_[Fresh Tomato Salsa),0.100813,0.460163,0.011382,0.112903,0.245355,-0.035008,0.608544
1,(choice_description_[Fresh Tomato Salsa),(choice_description_[Roasted Chili Corn Salsa),0.460163,0.154472,0.024390,0.053004,0.343128,-0.046692,0.892853
3,(choice_description_[Fresh Tomato Salsa),(choice_description_[Tomatillo Green Chili Salsa),0.460163,0.100813,0.011382,0.024735,0.245355,-0.035008,0.921992

In [112]:
chick_assoc_rules.sort_values(by = ["lift"], ascending = False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(choice_description_[Roasted Chili Corn Salsa),(choice_description_[Fresh Tomato Salsa),0.154472,0.460163,0.024390,0.157895,0.343128,-0.046692,0.641057
1,(choice_description_[Fresh Tomato Salsa),(choice_description_[Roasted Chili Corn Salsa),0.460163,0.154472,0.024390,0.053004,0.343128,-0.046692,0.892853
2,(choice_description_[Tomatillo Green Chili Salsa),(choice_description_[Fresh Tomato Salsa),0.100813,0.460163,0.011382,0.112903,0.245355,-0.035008,0.608544
3,(choice_description_[Fresh Tomato Salsa),(choice_description_[Tomatillo Green Chili Salsa),0.460163,0.100813,0.011382,0.024735,0.245355,-0.035008,0.921992

In [113]:
chick_assoc_rules.sort_values(by = ["support"], ascending = False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(choice_description_[Roasted Chili Corn Salsa),(choice_description_[Fresh Tomato Salsa),0.154472,0.460163,0.024390,0.157895,0.343128,-0.046692,0.641057
1,(choice_description_[Fresh Tomato Salsa),(choice_description_[Roasted Chili Corn Salsa),0.460163,0.154472,0.024390,0.053004,0.343128,-0.046692,0.892853
2,(choice_description_[Tomatillo Green Chili Salsa),(choice_description_[Fresh Tomato Salsa),0.100813,0.460163,0.011382,0.112903,0.245355,-0.035008,0.608544
3,(choice_description_[Fresh Tomato Salsa),(choice_description_[Tomatillo Green Chili Salsa),0.460163,0.100813,0.011382,0.024735,0.245355,-0.035008,0.921992